nav {
	display: flex;
	box-sizing: border-box;
	padding: 0.5rem 0;
}

nav button {
	padding: 0 1em;
	text-transform: uppercase;
	height: 4rem;
	font-size: 1.5rem;
	font-weight: 600;
	background: none;
	border: none;
}

nav button:last-child {
	margin-left: auto;
	border-radius: 0.25em;
}

.container {
	width: min(70rem, 90%);
	max-width: 1500px;
	margin: 0 auto;
}

.welcome {
	margin: 10vh 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	box-sizing: border-box;
}

.welcome h1 {
	font-size: clamp(5rem, 1rem + 10vw, 10rem);
}

.welcome p {
	margin: 1rem 0;
	font-size: 2rem;
	font-weight: 500;
	text-align: justify;
	color: var(--dark400);
}

.welcome div:last-of-type {
	text-align: center;
}
.welcome button {
	background: var(--dark700);
	color: var(--light1000);
	border: none;
	min-height: 4.5rem;
	font-size: 2rem;
	padding: 0.5em 1em;
	margin: 1rem auto;
}

.discover-preview {
	display: block;
	width: 60%;
	max-width: 100rem;
	margin: 4rem auto 2rem auto;
	-webkit-box-shadow: 0px 0px 5px -1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 5px -1px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 5px -1px rgba(66, 68, 90, 1);
	border-radius: 0.5rem;
}

@media (max-width: 60rem) {
	.container {
		width: 100%;
	}
	.welcome {
		/* width: 100%; */
		flex-direction: column;
		gap: 2rem;
	}

	.welcome p {
		margin: 2rem 2rem 0 2rem;
	}
}
