.discover-header {
	display: flex;
	align-items: center;
}

.discover h1 {
	font-size: 4rem;
}

.search-bar {
	width: 30%;
	min-width: 20rem;
	margin: 0 1rem 0 auto;
	padding: calc(0.5rem - 3px) 0.5rem;
	font-size: 2rem;
	font-weight: 500;
	/* background-color: var(--light900); */
	border: none;
	border: 3px solid #0abaff;
	border-radius: 0.5rem;
	transition: all 0.3s;
}

.search-bar:focus {
	outline: none;
	border: 3px solid #ee00ff;
}

.discover-header button {
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 2rem;
	font-weight: 600;
}

/* --------------------------- CONTENT --------------------------- */

.discover-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
}

@media (max-width: 120rem) {
	.discover-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

h2 {
	margin: 5rem 0 1rem 0;
	font-size: 3rem;
	width: 100%;
}

.book-card {
	position: relative;
	height: 30rem;
	-webkit-box-shadow: 0px 0px 5px -1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 0px 5px -1px rgba(66, 68, 90, 1);
	box-shadow: 0px 0px 5px -1px rgba(66, 68, 90, 1);
	overflow: hidden;
	border-radius: 0.5rem;
}

.book-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 1rem;
	box-sizing: border-box;
	background: #0aefff;
	background: -webkit-linear-gradient(
		to bottom right,
		#0aefff 0%,
		#ee00ff 100%
	);
	background: -moz-linear-gradient(
		to bottom right,
		#0aefff3f 0%,
		#ee00ff48 100%
	);
	background: linear-gradient(to bottom right, #0aefff8c 0%, #ee00ff8c 100%);
	color: var(--light1000);
}
@supports (backdrop-filter: blur(2rem)) {
	.book-info {
		backdrop-filter: blur(0.75rem);
	}
}

.book-info div:first-child {
	font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
	font-weight: 600;
	margin: 2rem 0 1rem 0;
}
.book-info div:nth-child(2) {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 1rem 0;
}
.book-info div:last-child {
	font-size: 1rem;
	font-weight: 400;
	margin: 1rem 0;
}
