* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	--dark1000: rgb(0, 0, 0);
	--dark700: rgb(70, 70, 70);
	--dark400: rgb(120, 120, 120);
	--light1000: rgb(255, 255, 255);
	--light900: rgb(240, 240, 240);
	--light700: rgb(200, 200, 200);
	--light400: rgb(160, 160, 160);
	background-color: var(--light1000);
}

button {
	cursor: pointer;
}

.button-dark {
	padding: 0.75em 1em;
	background-color: var(--dark700);
	color: var(--light1000);
	font-weight: 600;
	border: none;
}

.text-gradient {
	background: #0aefff;
	background: -webkit-linear-gradient(
		to bottom right,
		#0aefff 0%,
		#ee00ff 100%
	);
	background: -moz-linear-gradient(to bottom right, #0aefff 0%, #ee00ff 100%);
	background: linear-gradient(to bottom right, #0aefff 0%, #ee00ff 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-gradient {
	background: #0aefff;
	background: -webkit-linear-gradient(
		to bottom right,
		#0aefff 0%,
		#ee00ff 100%
	);
	background: -moz-linear-gradient(to bottom right, #0aefff 0%, #ee00ff 100%);
	background: linear-gradient(to bottom right, #0aefff 0%, #ee00ff 100%);
	color: var(--light1000);
}
